<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("5d2a4fd0-d1cc-4c48-beb1-1da56aa67269");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
